* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background: #27565a;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: greenyellow;
}

.gallery {
    width: 1200px;
    display: flex;
    overflow-x: scroll;
}

.gallery div {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}

.gallery div img {
    width: 100%;
    height: 400px;
    filter: grayscale(100%);
    transition: transform 0.5s, filter 0.5s;
}

.gallery div img:hover {
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}

.gallery::-webkit-scrollbar {
    display: none;
}

.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

#backBtn,
#nextBtn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 40px;
    background-color: #3ab26b;
    color: rgb(170, 235, 40);
    border-radius: 50%;
}

.portfolio {
    position: fixed;
    left: -35px;
    bottom: 120px;
    transform: rotate(90deg);
    padding: 0;
    margin: 0;
}

.portfolio a {
    font-size: medium;
    background-color: #FFD9AB;
    padding: 10px 5px 50px 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #4e342e;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.5s;
}

.portfolio a:hover {
    background-color: #4e342e;
    color: #FFD9AB;
}